/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

/* Common or Global Css */

* {
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.sub-heading {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.section-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

/* main section css */

main {
  width: 1360px;
  margin: 0 auto;
}

.banner-section {
  background-image: url('../images/Banner\ Image.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 600px;
}

.banner-content {
  padding: 170px 0;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.banner-content h4 {
  font-size: 32px;
  margin-bottom: 16px;
}

.banner-content h2 {
  font-size: 72px;
  line-height: 95px;
}

/* Offer Section css */

section.offer-section {
  width: 66.6%;
  margin: 170px auto;
  text-align: center;
}

.offer {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.section-content{
  margin: 48px 0;
}


/* midnight-party section css */

.midnight-party{
display: flex;
align-items: center;
padding: 130px;
background: url('../images/Vectorrr.png'), linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
min-height: 100%;
background-size: cover;
background-blend-mode: multiply;
background-repeat: no-repeat;

}


.midnight-content{
width: 50%;
}

.midnight-content .heading{
  color: #FFF;
  font-size: 56px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.midnight-content p{
  color: rgba(255, 255, 255, 0.80);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.midnight-party-image{
  width: 50%;
  display: flex;
  justify-content: center;
}

.join-button {
  color: #FFF;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-left: 30px;
text-decoration: none;
}

