/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

/* Common or Global Css */

* {
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #070211;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.red {
  color: #f00 !important;
}

.sub-heading {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.section-heading {
  font-size: 48px;
  font-weight: 700;
}

.left-align{
  float: left;
}

.right-align{
  float: right;
}

/* main section css */

main {
  max-width: 1320px;
  margin: 0 auto;
}

.banner-section {
  background-image: url("../images/Banner\ Image.png");
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 600px;
}

.banner-content {
  padding: 170px 0;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.banner-content h4 {
  font-size: 32px;
  margin-bottom: 16px;
}

.banner-content h2 {
  font-size: 72px;
  line-height: 95px;
}

/* Offer Section css */

section.offer-section {
  width: 66.6%;
  margin: 170px auto;
  text-align: center;
}

.offer {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.section-content {
  margin: 48px 0;
}

/* midnight-party section css */

.midnight-party {
  display: flex;
  align-items: center;
  padding: 130px;
  background: url("../images/Vectorrr.png"),
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
  min-height: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.midnight-content {
  width: 50%;
}

.midnight-content .heading {
  color: #fff;
  font-size: 56px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.midnight-content p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.midnight-party-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.join-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 30px;
  text-decoration: none;
}

/* event-time-container css */

.event-time-container {
  text-align: center;
  margin: 120px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.event-content {
  padding: 100px 0;
}

.event-content p {
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 32px;
}

.event-button {
  margin-top: 36px;
  text-transform: uppercase;
  padding: 16px 32px;
  border-radius: 8px;
  border: 0px solid transparent;
  background: #f00;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

/* coming soon container section css */

.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-section-content {
  width: 33.333%;
}

.coming-section-content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 1.6;
  padding-right: 10%;
}

.coming-section-content > .section-heading {
  margin-bottom: 22px;
  font-weight: 900;
}

.coming-section-content .coming-soon-image {
  display: block;
  margin: 0 auto;
}

.coming-section-content .coming-soon-image img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  object-fit: contain;
  border: 15px solid #f00;
  border-spacing: 15px;
  padding: 20px;
}

.coming-section-right > .year {
  font-size: 48px;
  font-weight: 700;
}

.coming-section-right img {
  padding-top: 40px;
}

.coming-section-content img.new_year {
  width: 140px;
  height: 140px;
}

.coming-section-content > .coming-soon-text {
  margin: 16px 0 42px 0;
}

.coming-section-content .coming-section-right {
  padding-left: 40px;
}

/* holiday sale section css */

.holiday-sale-section {
  margin: 120px auto;
  width: 80%;
}

.holiday-sale-heading {
  text-align: center;
}

.holiday-sale-heading .sub-heading {
  color: #070211;
}

.holiday-sale-heading .section-heading {
  margin: 10px 0 20px 0;
}
.holiday-sale-heading p {
  color: rgba(7, 2, 17, 0.6);
  font-weight: 500;
  line-height: 32px; /* 160% */
}

/* holiday section css */

.holiday-section-content {
  display: flex;
  margin-top: 64px;
  justify-content: flex-end;
}
.holiday-sale-item {
  width: 50%;
}

.holiday-section-content-bottom{
  background-image: url("/assets/images/Rectangle\ 2.png");
  height: 150px;
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 0px 0px 16px 16px;
}

/* portfolio section css here */

.portfolio-image-item {
  overflow: hidden;
}

.portfolio-image-item:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.portfolio-section-heading {
  width: 66.6%;
  margin-bottom: 48px;
}

.portfolio-section .sub-heading {
  margin-bottom: 10px;
}

.portfolio-section .section-heading {
  margin-bottom: 22px;
}



.portfolio-section-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-section-content .portfolio-image-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
}

.portfolio-section-content .portfolio-image-item {
  overflow: hidden;
}

/* subscription area css here */
.subscription-area {
  margin: 120px 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscription-area .subscription-area-content {
  text-align: center;
  width: 66.66%;
  margin: 0 auto;
  padding: 80px 0;
}

.subscription-image img {
  width: 150px;
  height: 150px;
}

.subscription-content p {
  color: rgba(7, 2, 17, 0.6);
  line-height: 32px; /* 160% */
}

.subscription-content .section-heading {
  margin: 40px 0 22px 0;
}

input[type="email"] {
  width: 40%;
  height: 72px;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border-color: transparent;
}
input[type="email"]::placeholder {
  color: rgba(7, 2, 17, 0.30);
  font-size: 18px;
  padding-left: 50px;
}

.subscription-form {
  margin: 48px 0;
}

input[type="button"] {
  display: inline-block;
  width: 210px;
  height: 76px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border-color: transparent;
  margin-left: -4px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* footer area css */

footer {
  background: #070211;
}

.footer-address-container {
  display: flex;
  justify-content: space-between;
  padding: 120px 20px 50px 20px;
}

.address-area p {
  color: #fff;
  font-size: 24px;
  line-height: 40px; /* 166.667% */
}


.contact-area p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.contact-area p img {
  padding-right: 16px;
}

.social-links {
  width: 50%;
  margin: 48px auto;
}

.social-links ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-links ul li {
  list-style: none;
}

.social-links ul li a {
  text-decoration: none;
}

.copyright-footer-area {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}

.copyright-footer-area .copyright-text p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.copyright-footer-area .unsubscribe-button a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
